@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
@font-face{ 
	font-family:'mic32newrd';
	src: url('fonts/mic32newrd-rg-webfont.woff') format('woff')
}

@font-face{
	font-family:'infotext';
	src: url('fonts/InfoTextBook-Italic.woff') format('woff')
}

*{
    margin:0;
    padding:0;
}
body,html{width:100%;height:100%;background: #f3f3f3;}
body{font-family: 'Open Sans', sans-serif;
    font-weight: 300;vertical-align:top;min-height:530px;
    display:flex; flex-flow:column;
}
a,a:hover,a:active{text-decoration:none;color:inherit;}
#content{
    height:80%;flex:20;
    display:block;
}
#tipoGrafico,#loadData, #barstype{
    display:flex; flex-flow:row;justify-content:center;align-content:center;align-items:center;height:100%;
}
header{display:block;}
body > header> h1{
    color:#58524f;
    margin-left:1%;
    margin-top:1%;
    font-size:3em;
    text-shadow:1px 1px 1px #9f9f9f;
    min-height:1em;
    margin-bottom:0.3em;
}

/* Menu */
aside{flex:1;display:inline-block;min-width:14em;background:white;box-shadow:0px 0px 13px #999;}
nav{ flex:1;flex-basis:1;flex-shrink:1; min-height:10em; }
nav ul{
    width:50%;
    display:flex;
    flex-flow:row;
    margin:auto;
    border-radius:5px;
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;

}
nav li{
    flex:1;
    flex-basis:1;
    flex-shrink:1;
    height:50%;
    min-width:7rem;
    box-sizing:border-box;
    padding:1rem;
    padding-top:0.8rem;
    margin-bottom:0.2rem;
    color:#999;
    cursor:pointer;
    border-right: 1px solid #d2d2d2;
    text-align:center;
    font-size:1.3em;
}
nav li .icono{
    color:#5893e3;
    font-size:5rem;
    margin:auto;
    margin-top:1rem;
    text-align:center;
    display:block;
}
nav li:hover{
    font-weight:bold;
    color:black;
}

.active{font-weight:600 !important;}
#tools { display:block; overflow:hidden !important;min-height:9em;}
menu{display:block;}

#barstype nav ul {
    margin-bottom:2em;
}
/* Main View */
main{
    flex:10;
    height:100%;
    margin:auto;
    display:inline-block;
    flex-flow:column;
    background: #ffffff;
    box-shadow:0px 0px 13px #999;
}
section{
    flex:1;
}
main section:first-child{
    overflow-y:auto;
}
#graph{
    border-bottom:2px solid #5893e3;
    box-shadow:1px 1px 3px #aaa;
    display:block;
    min-width:400px;
    min-height:400px;
}
#graph >div{
    margin:auto;
    display:block !important;
}
.back{
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    padding:1em;
    width:5em;
    text-align:center;
    margin:auto;
    cursor:pointer;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#777;
}
#graph-data>div{
    display:block;
}
#graph-data>div:first-child{
    display:flex;
}
canvas{
    border:1px solid black !important;
}
.draw_button,#create-group,.rearrange-button{
    width: 10em;
    height: 2.5em;
    border:none;
    background:#5893e3;
    padding-left:1em;
    text-align:left;    
    color: white;
    margin-top:2em;
    margin-bottom:2em;
    font-family: inherit;
    font-size: 1em;
    font-weight:inherit;
    cursor:pointer;
    vertical-align:top;
    margin-right:1em;
}
.draw_button:hover,
#buttons >div:hover,
#buttons >button:hover,
.menu-button:hover,
#create-group:hover,
.rearrange-button:hover{
    background:#4578bf;
    cursor:pointer;
}

input[type=color]{vertical-align:middle;margin-top:2em;}
input[type=text],input[type=number]{
    padding: 0.5em;
    border: 0;
    border-bottom: 3px solid #999;
    height: 2em;
    vertical-align: top;
    margin:1em;
}

input:focus{
    outline:none;
   border-bottom: 3px solid #5893e3; 
}

#drop{
    min-width:10em;
    min-height:10em;
    width:40%;
    height:50%;
    margin:auto;
    margin-bottom:2em;
    text-align:center;
    padding:0.5em;
    border: 5px dashed #999;
}

#drop:hover{
    border: 5px dashed #bbb;
    cursor:pointer;
}

.add-icon{
    width:1.3em;
    margin:auto;
    font-weight:600;
    font-size:1.7em;
    padding:0;
    color: #666;
    text-shadow:1px 1px 1px #ddd;
}

#buttons >div,#buttons >button,.menu-button, .button {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0em;
    background: #5893e3;
    color: white;
    border: none;
    font-family: inherit;
    font-size: 1em;
    font-weight:inherit;
    text-align:left;
    margin-bottom:0.2em;
    cursor:pointer;
}

.button {
    width: auto;
    text-align: center;
    margin-top: 1.8em;
}

.selection_dir {
    background: #5893e3;
    padding: 3px;
    padding-top: 3px;
}

#attr-grupos{
    flex:1;
}

#pie-segments{
    flex:1;
}

.complex_pie{display:block;}
.simple_pie{
    display:none;
}

.icono{
 font-size:1.5em; margin-right:1em;display:inline-block;
}

.icon-box-add{
    font-size: 3em;
    margin:auto;
    display:block;
    color: #333;
    margin-top:2%;
    margin-bottom:4%;
};
/**/
.icon-rearrange,.icon-pencil{
    float:right;
    font-size:1.1em;
}
.icon-rearrange,.icon-pencil{
    float:right;
    font-size:1.1em;
}

.icon-droplet,.icon-file, .icon-download{
    margin-left:1em;
}

.icon-spinner,.icon-spinner2, .icon-stats, .icon-bars, .icon-bars2, .icon-areas{
    margin-left:1em;
}

#create-group:before{
    content: "+";
    margin-right:0.5em;
    font-size:1.7em;
    vertical-align:middle;
}
.data-list-element:before{
    content: '\0000a0\0000a0';
    margin-right: 0.3em;
    font-size: 1.3em;
    vertical-align: middle;
}
.data-list-li{
    display:table-row;
}
.data-list-element{
    display:inline-block;
}
.mousedown{
    cursor:move !important;
}
li{
    list-style:none;
}

li ul{
    padding-left:1em;
    min-height:1em;
}

.step{
    display:none !important;
    width:100%;
}

.current_step{
    display:-webkit-flex !important;
    display:flex !important;
    flex-flow:row;
}

#designer{
    align-items:flex-start;
}

.step-info{
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    width:43%;
    margin:auto;
    margin-bottom:3em;
}
.step-info ul li{
    position:relative;
}

.step-info li{
   display:inline-block;
}

.halfCircleRight{
     height:2em;
     width:6em;
     border-radius: 0 90px 90px 0;
     -moz-border-radius: 0 90px 90px 0;
     -webkit-border-radius:  0 90px 90px 0;
     background: #d3d3d3;
    vertical-align:middle;
    color:#333;
    font-weight:bold;
    padding-top:0.5em;
    padding-left:1em;
    border:1px solid white;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
}

#groups-ul > li{
    display:inline-block;
    text-align:center;
    margin-right:1em;
}
#separador_ul,#separador_text {
    margin-right: 2em;
}
#separador_text {
    margin-top: 1.5em;
}
#groups-ul > li > div >div{
    display:inline-block;
    vertical-align:bottom;
    margin-right:1em;
    margin-left:1em;
}
.data-list-separador {
    margin-right:1em;
    margin-left:1em;
    text-align:center;
}
#groups-ul > li > ul li, #separador_ul>li{
    margin-bottom:0.5em;
    margin-top:0.5em;
}

#data-container{
    display:flex !important;
    flex-flow:row;
}

.data-options{
    flex:2;
    vertical-align:top;
}

#options-bars{
    flex:1;
}
#options-bars div{
    margin-bottom:1em;
}

#dibujar-check, #destacar_check, #separador-check{
    display:none;
}

.label-dibujar-check,.label-dest-check, .label-separador-check{
    cursor:pointer;
    position:relative;
    padding-left:30px;
    top:1em;
}

.label-dibujar-check:before,
.label-dest-check:before,
.label-separador-check:before
{
    font-family: 'iconos';
    position:absolute;top:0;left:0;
    content:"\e611";
}

.label-dibujar-check:after,
.label-dest-check:after,
.label-separador-check:after
{
    font-family: 'iconos';
    position:absolute;top:-2px;left:1px;
    content:"\e612";
    max-width:0;
    overflow:hidden;
    opacity:0.5;
    transition: all 0.35s;
    color:"#00ff00";
}

#dibujar-check:checked + .label-dibujar-check:after{
    max-width:25px;
    opacity:1;
    color:#249a14;
}

#destacar_check:checked + .label-dest-check:after{
    max-width:25px;
    opacity:1;
    color:#249a14;
}

#separador-check:checked + .label-separador-check:after{
    max-width:25px;
    opacity:1;
    color:#249a14;
}

.icon-check:before,
.icon-check-empty:before{
    margin-right:1em;
}

.icon-check:before{
    color:#4b884b;
    font-weight:bold;
}

.menu-text{
    display:inline-block;
}

header,.step{
    min-width:480px;
}
#fuente_input {
    vertical-align: bottom;
    margin-bottom: -0.8em;
}
img {width:100%;}

#data-choose {
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#output table {
    margin-left:1em;
    margin-bottom:1em;
    border-collapse:collapse;
}
#output table tr{
    background:wheat;
}
#output table td{
    padding-left: 1em;
    padding-right:1em;
}
#output .active {
    background-color: #EBC !important;
    border-color: #B89 !important;
    font-weight:normal !important;
    cursor:pointer;
}
#borrar-fila,#borrar-columna {
    cursor:pointer;
    margin-left:1em;
    margin-right:1em;
}

#abajo, #lado {
    width:22px;
    display:inline-block;
    margin:0.3em;
    cursor: pointer;
}
#body-output {
    position: relative;
}
#dir_tooltip {
    width: 10em;
    background: #5893e3;
    color:white;
    box-shadow: 0px 0px 12px #999;
    padding: 1em;
    display: none;
    position: absolute;
    top: -12em;
    left: 8em;
}
#info_dir sup {
    cursor: help;
}
#undo {
    border: 0;
    background: transparent;
    font-size: 1.3em;
    color: #cecece;
    cursor: pointer;
    text-shadow: 0px 0px 2px #333;
}
#undo:active {
    color:red;
    color:red;
}
#undo-container #undo:hover {
    color:#000;
    text-shadow:0;
}
#undo-container {
    display: inline-block;
margin-left: 1em;
}
.remove-list-item {
display: inline-block;
margin-left: 1em;
border: 1px solid #cecece;
border-radius: 99px;
height: 1em;
width: 1.5em;
text-align: center;
box-sizing: border-box;
padding-bottom: 1.3em;
font-size: 0.8em;
vertical-align: middle;
margin-top: 1.7em;
    cursor:pointer;
    color:#cecece;
}
.data-list-li .icon-reorganizar{display: inline-block;}
.data-list-li:hover .icon-reorganizar:before {
    color:black;
    display: inline-block;
    border-color:black;
    content: "\e614";
}
.remove-list-item:hover {
    color:black;
    border-color:black;
}
.remove-list-item:before {
content: 'x';
}

.data-list-element-holder{
    display: inline-block;
}
.data-list-li-holder .remove-list-item{
    vertical-align: super;
}
//FUTURE: Arreglar estilo del botón de eliminar
@media all and (max-width:800px){
    nav ul{width:100%;}
    .step-info{width:100%;}
    aside{
        min-width:4em;
    }
    .icono{
        font-size:1.5em;
        margin-right:0.2em;
        display:inline-block;
    }

    .icon-droplet, .icon-file, .icon-download,.icon-stats, .icon-bars, .icon-bars2{
        margin-left:0.8em;
    }

    .icon-pencil,.icon-rearrange{
        margin-right:1em;
    }

    .menu-text{
        display:none;
    }

    #data-container{
        flex-flow:column;
    }
}
