@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
@font-face{ 
	font-family:'mic32newrd';
	src: url('fonts/mic32newrd-rg-webfont.woff') format('woff')
}

@font-face{
	font-family:'infotext';
	src: url('fonts/InfoTextBook-Italic.woff') format('woff')
}

*{
    margin:0;
    padding:0;
}
/* BASIC AND BODY*/

body,html{
    background: #f3f3f3;
    height:100%;
    width:100%;
    }
body{
    display:flex;
    flex-flow:column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    min-height:530px;
    vertical-align:top;
}
#content{
    display:block;
    flex:20;
    height:80%;
}
#tipoGrafico, #loadData, #barstype{
    align-content:center;
    align-items:center;
    display:flex;
    flex-flow:row;
    height:100%;
    justify-content:center;
}

header{display:block;}
header,.step{               min-width:480px;}

body > header> h1{
    color:#58524f;
    margin-bottom:0.3em;
    margin-left:1%;
    margin-top:1%;
    min-height:1em;
    font-size:3em;
    text-shadow:1px 1px 1px #9f9f9f;
}

.mousedown{                 cursor:move !important;}
a,a:hover,a:active{         color:inherit;text-decoration:none;}
li{                         list-style:none;}
li ul{                      min-height:1em; padding-left:1em;}
.step{                      display:none !important;width:100%;}
.current_step{
    display:-webkit-flex !important;
    display:flex !important;
    flex-flow:row;
}

#designer{                  align-items:flex-start;}

/* LOADER */
.loader{
    display: none;
	height: 60px;
	margin: 0 auto;
    margin-top: -30px;
	left: 0;
    list-style: none;
	right: 0;
	top: 50%;
	width: 60px;
    z-index: 3;
}

@-webkit-keyframes 'loadbars' {
	0%{
		height: 10px;
		margin-top: 25px;
	}
	50%{
		height:50px;
		margin-top: 0px;
	}
	100%{
		height: 10px;
		margin-top: 25px;
	}
}
@keyframes 'loadbars' {
	0%{
		height: 10px;
		margin-top: 25px;
	}
	50%{
		height:50px;
		margin-top: 0px;
	}
	100%{
		height: 10px;
		margin-top: 25px;
	}
}

.loader li{
	background-color: #333;
    box-shadow: 0px 100px 20px rgba(0,0,0,0.2);
	float: right;
    height: 10px;
	margin-right: 5px;
    width: 10px;
	}
.loader li:first-child{
    animation: loadbars 0.6s cubic-bezier(0.645,0.045,0.355,1) infinite 0s;
    -webkit-animation: loadbars 0.6s cubic-bezier(0.645,0.045,0.355,1) infinite 0s;
}
.loader li:nth-child(2){
	animation: loadbars 0.6s ease-in-out infinite -0.2s;
	-webkit-animation: loadbars 0.6s ease-in-out infinite -0.2s;
}
.loader li:nth-child(3){
	animation: loadbars 0.6s ease-in-out infinite -0.4s;
	-webkit-animation: loadbars 0.6s ease-in-out infinite -0.4s;
}

/* ERROR BUTTON */
#error {
    border-bottom: 1.8rem solid #d43232;
    border-left: 1rem solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    border-right: 1rem solid rgba(0, 0, 0, 0);
    color: #FFF;
    font-size: 1.4em;
    font-weight: 700;
    display: none;
    height: 0;
    padding-right: 0.2em;
    position: fixed;
    right: 1rem;
    text-align: center;
    top: 1rem;
    vertical-align: middle;
    width: 0;
}

#error:hover {
    color:#f0e272;
    cursor: pointer;
}

/* Menu */

aside{
    background:white;
    box-shadow:0px 0px 13px #999;
    display:inline-block;
    flex:1;
    min-width:14em;
}

nav{
    flex:1;
    flex-basis:1;
    flex-shrink:1;
    min-height:10em;
}

nav ul{
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    display:flex;
    flex-flow:row;
    margin:auto;
    width:50%;
}

nav li{
    border-right: 1px solid #d2d2d2;
    box-sizing:border-box;
    color:#999;
    cursor:pointer;
    flex:1;
    flex-basis:1;
    flex-shrink:1;
    font-size:1.3em;
    height:50%;
    margin-bottom:0.2rem;
    min-width:7rem;
    padding:1rem;
    padding-top:0.8rem;
    text-align:center;
}
nav li .icono{
    color:#5893e3;
    display:block;
    font-size:5rem;
    margin:auto;
    margin-top:1rem;
    text-align:center;
}
nav li:hover {      color:black; font-weight:bold;    }
.active {           font-weight:600 !important;}
#tools  {           display:block; min-height:9em; overflow:hidden !important;}
menu    {           display:block;}
#barstype nav ul {  margin-bottom:2em;}

/* Main View */

main{
    background: #ffffff;
    box-shadow:0px 0px 13px #999;
    display:inline-block;
    flex:10;
    flex-flow:column;
    height:100%;
    margin:auto;
}
section{    flex:1;}
#aside_help {
    background: white;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #999;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 4em;
    padding: 2em;
    width: 29%;
}
#aside_help ul,#aside_help li {
    list-style:disc;
    margin-bottom: 1em;
    margin-top: 1em;
}
#output {
    max-width: 100%;
    overflow: auto;
    max-height: 25em;
}
#output table {
    font-size: 0.8em;
}
main section:first-child{
    overflow-y:auto;
}
#graph{
    border-bottom:2px solid #5893e3;
    box-shadow:1px 1px 3px #aaa;
    display:block;
    min-height:400px;
    min-width:400px;
}
#graph >div{
    display:block !important;
    margin:auto;
}
.back{
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    color:#777;
    cursor:pointer;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:auto;
    padding:1em;
    text-align:center;
    width:5em;
}
#graph-data>div {               display:block;}
#graph-data>div:first-child {   display:flex;}
canvas{                         border:1px solid black !important;}
.draw_button,#create-group,.rearrange-button{
    color: white;
    cursor:pointer;
    height: 2.5em;
    border:none;
    background:#5893e3;
    font-family: inherit;
    font-size: 1em;
    font-weight:inherit;
    margin-bottom:2em;
    margin-right:1em;
    margin-top:2em;
    padding-left:1em;
    text-align:left;
    vertical-align:top;
    width: 10em;
}
.draw_button:hover,
#buttons >div:hover,
#buttons >button:hover,
.menu-button:hover,
#create-group:hover,
.rearrange-button:hover{        background:#4578bf; cursor:pointer;}

input[type=color] {             vertical-align:middle;margin-top:2em;}
input[type=text],input[type=number]{
    border: 0;
    border-bottom: 3px solid #999;
    height: 2em;
    margin:1em;
    padding: 0.5em;
    vertical-align: top;
}

input:focus{                    border-bottom: 3px solid #5893e3; outline:none;}
#drop{
    border: 5px dashed #999;
    height:50%;
    margin:auto;
    margin-bottom:2em;
    min-width:10em;
    min-height:10em;
    padding:0.5em;
    text-align:center;
    width:40%;
}

#drop:hover{
    border: 5px dashed #bbb;
    cursor:pointer;
}

.add-icon{
    color: #666;
    font-size:1.7em;
    font-weight:600;
    margin:auto;
    padding:0;
    text-shadow:1px 1px 1px #ddd;
    width:1.3em;
}

#buttons >div,#buttons >button,.menu-button, .button {
    background: #5893e3;
    border: none;
    color: white;
    cursor:pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight:inherit;
    margin-bottom:0.2em;
    margin-left: 0em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align:left;
    width: 100%;
}

.button {
    margin-top: 1.8em;
    text-align: center;
    width: auto;
}

.selection_dir {
    background: #5893e3;
    padding: 3px;
    padding-top: 3px;
}

#attr-grupos{   flex:1;}
#pie-segments{  flex:1;}
.complex_pie{   display:inline-block; margin-right: 1em;}
.simple_pie{    display:none;}
.icono{         display:inline-block;font-size:1.5em;margin-right:1em;}

.icon-box-add{
    color: #333;
    display:block;
    font-size: 3em;
    margin:auto;
    margin-bottom:4%;
    margin-top:2%;
};
/**/
.icon-rearrange,.icon-pencil{               float:right;font-size:1.1em; }
.icon-rearrange,.icon-pencil{               float:right;font-size:1.1em; }
.icon-undo,.icon-file, .icon-download{   margin-left:1em;}
.icon-spinner,.icon-spinner2, .icon-stats, .icon-bars, .icon-bars2, .icon-areas{
    margin-left:1em;
}
#create-group:before{
    content: "+";
    margin-right:0.5em;
    font-size:1.7em;
    vertical-align:middle;
}
.data-list-element:before{
    content: '\0000a0\0000a0';
    margin-right: 0.3em;
    font-size: 1.3em;
    vertical-align: middle;
}
.data-list-li{              display:table-row;}
.data-list-element{         display:inline-block;}
.data-list-li-year li {text-align: left;}
.data-list-year-check, .data-list-li-year div {display: inline-block; margin-right: 1em;}

.step-info{
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    width:43%;
    margin:auto;
    margin-bottom:3em;
}
.step-info ul li{   position:relative;}
.step-info li{      display:inline-block;}

.halfCircleRight{
    color:#333;
    background: #d3d3d3;
    border:1px solid white;
    border-radius: 0 90px 90px 0;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    height:2em;
    font-weight:bold;
    padding-top:0.5em;
    padding-left:1em;
    vertical-align:middle;
    width:6em;
}

#groups-ul > li{
    display:inline-block;
    margin-right:1em;
    text-align:center;
}
#separador_ul,#separador_text {             margin-right: 2em;}
#separador_text {                           margin-top: 1.5em;}
#groups-ul > li > div >div{
    display:inline-block;
    margin-left:1em;
    margin-right:1em;
    vertical-align:bottom;
}
.data-list-separador {
    margin-left:1em;
    margin-right:1em;
    text-align:center;
}
#groups-ul > li > ul li, #separador_ul>li{  margin-bottom:0.5em;margin-top:0.5em;}
#data-container{                            display:flex !important;flex-flow:row;}
.data-options{                              flex:2;vertical-align:top;}
#options-bars{                              flex:1;}
#options-bars div{                          margin-bottom:1em;}
#dibujar-check, #destacar_check, #separador-check{display:none;}

.label-dibujar-check,.label-dest-check, .label-separador-check{
    cursor:pointer;
    position:relative;
    padding-left:30px;
    top:1em;
}

.label-dibujar-check:before,
.label-dest-check:before,
.label-separador-check:before
{
    content:"\e611";
    font-family: 'iconos';
    position:absolute;top:0;left:0;
}

.label-dibujar-check:after,
.label-dest-check:after,
.label-separador-check:after
{
    color:"#00ff00";
    content:"\e612";
    font-family: 'iconos';
    max-width:0;
    overflow:hidden;
    opacity:0.5;
    position:absolute;top:-2px;left:1px;
    transition: all 0.35s;
}

#dibujar-check:checked + .label-dibujar-check:after{
    color:#249a14;
    max-width:25px;
    opacity:1;
}

#destacar_check:checked + .label-dest-check:after{
    color:#249a14;
    max-width:25px;
    opacity:1;
}

#separador-check:checked + .label-separador-check:after{
    color:#249a14;
    max-width:25px;
    opacity:1;
}

.icon-check:before,
.icon-check-empty:before{   margin-right:1em;}
.icon-check:before{
    color:#4b884b;
    font-weight:bold;
}

.menu-text{                 display:inline-block;}

#fuente_input {
    margin-bottom: -0.8em;
    vertical-align: bottom;
}
img {                       width:100%;}

#data-choose {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3em;
}

#output table {
    border-collapse:collapse;
    margin-left:1em;
    margin-bottom:1em;
}
#output table tr{
    background:wheat;
}
#output table td{
    padding-left: 1em;
    padding-right:1em;
}
#output .active {
    background-color: #EBC !important;
    border-color: #B89 !important;
    cursor:pointer;
    font-weight:normal !important;
}
#borrar-fila,#borrar-columna {
    cursor:pointer;
    margin-left:1em;
    margin-right:1em;
}

#abajo, #lado {
    cursor: pointer;
    display:inline-block;
    margin:0.3em;
    width:22px;
}
#body-output {
    position: relative;
}
#dir_tooltip {
    background: #5893e3;
    box-shadow: 0px 0px 12px #999;
    color:white;
    display: none;
    left: 8em;
    padding: 1em;
    position: absolute;
    top: -12em;
    width: 10em;
}
#info_dir sup {
    cursor: help;
}
#undo {
    background: transparent;
    border: 0;
    color: #cecece;
    cursor: pointer;
    font-size: 1.3em;
    text-shadow: 0px 0px 2px #333;
}
#undo:active {                          color:red;}
#undo-container #undo:hover {           color:#000;text-shadow:0;}
#undo-container {                       display: inline-block;margin-left: 1em;}

.remove-list-item {
    border: 1px solid #cecece;
    border-radius: 99px;
    box-sizing: border-box;
    color:#cecece;
    cursor:pointer;
    display: inline-block;
    font-size: 0.8em;
    height: 1em;
    margin-left: 1em;
    margin-top: 1.7em;
    padding-bottom: 1.3em;
    text-align: center;
    vertical-align: middle;
    width: 1.5em;
}
.data-list-li .icon-reorganizar{display: inline-block;}
.data-list-li:hover .icon-reorganizar:before {
    border-color:black;
    color:black;
    content: "\e614";
    display: inline-block;
}
.remove-list-item:hover {               border-color:black;color:black;}
.remove-list-item:before {              content: 'x';}

.data-list-element-holder{              display: inline-block;}
.data-list-li-holder .remove-list-item{ vertical-align: super;}

.color_data {
    width: 2.25em;
    height: 1.6em;
    box-sizing: border-box;
    border: none;
}
.palette {
    position: relative;
    display: inline-block;
}
.color_palette{

    width: 9em;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
    padding: 1em;
    border: 1px solid black;
    background: white;
    box-shadow: 0px 0px 4px #999;
    position: absolute;
    top: 1em;
    left: 2em;
    display: none;
}
.color_active_palette{
    display: flex !important;
}

#add-label-button:before {
    content: '+';
    font-weight: bold;
    margin-right: 1em;
}

#add-label > ul > li > div.new-label-div {
    display: inline-block;
    vertical-align: top;
}


@media all and ( max-width:800px ){

    nav ul{             width:100%;}
    .step-info{         width:100%;}
    aside{              min-width:4em;}
    .icono{
        display:inline-block;
        font-size:1.5em;
        margin-right:0.2em;
    }

    .icon-undo, .icon-file, .icon-download,.icon-stats, .icon-bars, .icon-bars2{
        margin-left:0.8em;
    }
    .icon-pencil,.icon-rearrange{   margin-right:1em;}
    .menu-text{                     display:none; }
    #data-container{                flex-flow:column;}
}
